<?xml version="1.0"?>
<config>
    <modules>
        <Qrz_OneDayAdmin>
            <version>0.1.0</version>
        </Qrz_OneDayAdmin>
    </modules>
    <global>
        <helpers>
            <qrz_onedayadmin>
                <class>Qrz_OneDayAdmin_Helper</class>
            </qrz_onedayadmin>
        </helpers>
        <blocks>
            <qrz_onedayadmin>
                <class>Qrz_OneDayAdmin_Block</class>
            </qrz_onedayadmin>
        </blocks>
        <models>
            <qrz_onedayadmin>
                <class>Qrz_OneDayAdmin_Model</class>
            </qrz_onedayadmin>
        </models>
        <resources>
            <qrz_onedayadmin_setup>
                <setup>
                    <module>Qrz_OneDayAdmin</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </qrz_onedayadmin_setup>
        </resources>
    </global>
</config>
